.pokemon-card{
    width: 300px;
    margin: auto;
    margin-top: 20px;
    background-color:#bd3736;
    
}

.mat-chip{
    background-color:black !important;
}

.mat-card-title{
    text-transform: uppercase;
    color:black;
}

.mat-card-subtitle{
    color:black;
}


